body{background-image:url('1.jpg');
    background-size: cover; background-repeat: no-repeat;}
button{background-color: aqua;border-radius: 12px;color: blue;padding: 15px 34px;text-align: center;font-size: 20px;margin: 4px 2px;cursor: pointer;}
